<!-- Popup container-->
<div class="main-popup__container" (keydown)="onKeyDown($event)">
  <div
    class="status-text mb-2"
    [ngClass]="{
      'text-black-50': appState.statusType == StatusType.Info,
      'text-success': appState.statusType == StatusType.Success,
      'text-danger': appState.statusType == StatusType.Error
    }"
  >
    {{ appState.statusText }}
  </div>
  <ng-container *ngIf="appState.mode == Mode.Edit; then editView; else listView"></ng-container>
  <ng-container *ngTemplateOutlet="menuBar"></ng-container>
</div>

<!-- Menu Bar-->
<ng-template #menuBar>
  <div class="menu-bar__container">
    <div class="menu-bar__left-side">
      <div class="menu-bar__item">
        <svg-icon src="assets/help-circle.svg" [applyCss]="true" class="help-icon"></svg-icon>
      </div>
    </div>
    <div class="menu-bar__right-side">
      <div class="menu-bar__item" (click)="clearStorage()">
        Clear Storage
      </div>
      <div class="menu-bar__item">
        <div ngbDropdown class="d-inline-block">
          <div class="menu-bar__url-match-toggle" ngbDropdownToggle>URL Matching</div>
          <div ngbDropdownMenu placement="top-left">
            <button
              ngbDropdownItem
              (click)="switchUrlScheme(FilterType.Full)"
              [ngClass]="{ 'font-weight-bold': appState.filterType == FilterType.Full }"
            >
              Full URL
            </button>
            <button
              ngbDropdownItem
              (click)="switchUrlScheme(FilterType.Domain)"
              [ngClass]="{ 'font-weight-bold': appState.filterType == FilterType.Domain }"
            >
              Domain
            </button>
          </div>
        </div>
      </div>
      <div class="menu-bar__item" (click)="importSnapshot()">
        Import
        <input
          type="file"
          id="importHiddenInput"
          class="collapse"
          (change)="handleImportFile($event)"
          accept="application/json"
        />
      </div>
    </div>
  </div>
</ng-template>

<!--Main form snapshots table-->
<ng-template #listView>
  <div class="forms-table__container">
    <table class="forms-table">
      <thead>
        <tr>
          <th></th>
          <th>Snapshot Name</th>
          <th>Hotkey</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="dataSource && dataSource.length > 0; then formsRows; else emptyRow"></ng-container>
        <ng-template #formsRows>
          <ng-container *ngFor="let row of dataSource">
            <tr>
              <td>
                <div class="list-icon-button" (click)="loadFormSnapshot(row)">
                  <svg-icon src="assets/play.svg" [applyCss]="true"></svg-icon>
                </div>
              </td>
              <td>
                {{ row.fillName }}
                <input *ngIf="appState.Mode == Mode.Edit" [value]="row.fillName" />
              </td>
              <td>{{ row.hotkey }}</td>
              <td>
                <div class="d-flex">
                  <div class="list-icon-button mr-2" (click)="editSnapshot(row)">
                    <svg-icon src="assets/create.svg" [applyCss]="true"></svg-icon>
                  </div>
                  <div class="list-icon-button" (click)="deleteFormSnapshot(row)">
                    <svg-icon src="assets/trash-bin.svg" [applyCss]="true"></svg-icon>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-template>
        <ng-template #emptyRow>
          <tr>
            <td></td>
            <td>
              <div>No records for this page yet</div>
            </td>
            <td></td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center control-panel__container">
    <button (click)="saveSnapshot()" class="btn btn-outline-success ml-2">Add New</button>
  </div>
</ng-template>

<!--Form snapshot edit-->
<ng-template #editView>
  <edit-form [snapshot]="this.currentSnapshot" [url]="currentUrl"></edit-form>
</ng-template>
