/* Variables */
$base-font-size: 12px;
$popup-width: 525px;
$blue-theme: rgb(65, 97, 240);
$light-blue-theme: #dceeff;
$dark-grey-theme: #dcdcdc;
$grey-theme: rgb(221, 218, 218);
$smoke-theme: rgba(0, 0, 0, 0.75);
$error-color: red;

/* HTML Tag styles */
table,
div,
button,
a * {
  font-size: $base-font-size;
}

/* Styles */
.main-popup__container {
  width: $popup-width;
  padding-top: 0.5rem;
  position: relative;
}

.menu-bar__container {
  display: flex;
  justify-content: space-between;
  background-color: $dark-grey-theme;
  padding: 0.5rem 0;
}

.menu-bar__left-side {
  display: flex;
  padding-left: 0.5rem;
}

.menu-bar__right-side {
  display: flex;
  justify-content: flex-end;
}

.menu-bar__item {
  cursor: pointer;
  color: $smoke-theme;
  margin-right: 0.85rem;

  &:hover {
    color: white;
  }
}

.menu-bar__url-match-toggle {
  &.dropdown-toggle::after {
    display: none !important;
  }
}

.filter-menu__container {
  background-color: $dark-grey-theme;
}

.forms-table__container {
}

.forms-table {
  border-collapse: collapse;
  margin: 0 auto;

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  thead th {
    min-width: 70px;
    max-width: 140px;
    color: $blue-theme;
    border-bottom: 1px solid $grey-theme;
  }

  td {
    img {
      cursor: pointer;
      height: 20px;
      margin: 5px;
    }
    .writeable:hover {
      background-color: rgb(153, 255, 204);
    }
    .deleteable:hover {
      background-color: rgb(255, 144, 129);
    }
    .btnHighlight:hover {
      background-color: rgb(159, 236, 255);
    }
  }
}

.control-panel__container {
  margin: 1rem;
}

.hotkey-input {
  width: 5rem;
}

.exportBtn {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-size: 24px 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
}

.deleteBtn {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-size: 16px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

.c-edit-form__table {
  td {
    padding: 0.5rem;
  }
  input {
    font-size: $base-font-size;
    padding: 0.5rem;
    border-radius: 9px;
  }
  .table-label {
    font-weight: bold;
  }
}

textarea.edit-form-preview {
  font-size: $base-font-size;
  width: 300px;
  height: 150px;
}

textarea.edit-form-comment {
  font-size: $base-font-size;
  width: 300px;
  height: 70px;
}

.status-text {
  padding-left: 1rem;
  max-width: $popup-width;
}

.form-error {
  color: $error-color;
}

.list-icon-button {
  cursor: pointer;

  svg {
    height: 25px;

    path,
    rect {
      fill: $blue-theme !important;
    }
  }

  &:hover {
    svg {
      path,
      rect {
        fill: rgb(188, 210, 255) !important;
      }
    }
  }
}

.help-icon {
  cursor: pointer;

  svg {
    height: 20px;

    path,
    rect {
      fill: $smoke-theme !important;
    }
  }

  &:hover {
    svg {
      path,
      rect {
        fill: white !important;
      }
    }
  }
}
