/* Variables */
$base-font-size: 12px;
$popup-width: 525px;
$blue-theme: #dceeff;
$grey-theme: rgb(221, 218, 218);

/* HTML Tag styles */
table,
div,
button,
a * {
  font-size: $base-font-size;
}

/* Styles */
.main-popup__container {
  width: $popup-width;
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
}

.c-debug__output-container {
  width: 700px;
  height: 50px;
  padding: 1rem;
}

.forms-table__container {
}

.forms-table {
  border-collapse: collapse;
  margin: 0 auto;

  th,
  td {
    padding: 0.5rem 1rem;
    text-align: center;
  }

  thead th {
    min-width: 70px;
    max-width: 100px;
    border-bottom: 1px solid $grey-theme;
  }

  td {
    img {
      cursor: pointer;
      height: 20px;
      margin: 5px;
    }
    .writeable:hover {
      background-color: rgb(153, 255, 204);
    }
    .deleteable:hover {
      background-color: rgb(255, 144, 129);
    }
    .btnHighlight:hover {
      background-color: rgb(159, 236, 255);
    }
  }
}

.control-panel__container {
  margin: 2rem 1rem 1rem 1rem;
}

.hotkey-input {
  width: 5rem;
}

.controlButtons {
  text-align: center;
}
.savePageBtn {
  font-size: 22px;
  font-weight: bold;
}
.exportBtn {
  display: inline-block;
  width: 25px;
  height: 30px;
  // background: url(../src/assets/export.svg);
  background-size: 24px 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;
}

.deleteBtn {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-size: 16px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;

  //&:hover {
  /*background-color: lightcoral;*/
  //}
}
.loadBtn {
  display: inline-block;
  width: 25px;
  height: 30px;
  background-size: 16px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

.clearStorageBtn {
  position: absolute;
  right: 1rem;
}

#editFieldForm {
  position: absolute;
  border-radius: 2px;
  top: 10px;
  left: 10px;
  visibility: hidden;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  background: white;
  box-sizing: border-box;
  min-height: 120px;
  min-width: 100px;
}

#editFieldInput {
  margin: 10px;
  width: 90%;
  max-height: 80%;
  box-sizing: border-box;
}

#editFieldSaveBtn {
  display: inline-block;
  text-align: center;
}

.c-edit-form__table {
  td {
    padding: 0.5rem;
  }
  input {
    font-size: $base-font-size;
    padding: 0.5rem;
    border-radius: 9px;
  }
  textarea {
    font-size: $base-font-size;
    width: 300px;
    height: 150px;
  }

  .table-label {
    font-weight: bold;
  }
}
#textRuler {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.status-text {
  position: absolute;
  max-width: $popup-width;
  bottom: 1rem;
  left: 1rem;
  // color: red;
}
