<!-- Popup container-->
<div class="main-popup__container" (keydown)="onKeyDown($event)">
  <ng-container *ngIf="appState.mode == Mode.Edit; then editView; else listView"></ng-container>
  <div
    class="status-text"
    [ngClass]="{
      'text-info': appState.statusType == StatusType.Info,
      'text-success': appState.statusType == StatusType.Success,
      'text-danger': appState.statusType == StatusType.Error
    }"
  >
    {{ appState.statusText }}
  </div>
</div>

<!--Main form snapshots table-->
<ng-template #listView>
  <div class="forms-table__container">
    <table class="forms-table">
      <thead>
        <tr>
          <th></th>
          <th>Fill Name</th>
          <th>Hotkey</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="dataSource && dataSource.length > 0; then formsRows; else emptyRow"></ng-container>
        <ng-template #formsRows>
          <ng-container *ngFor="let row of dataSource">
            <tr>
              <td>
                <img src="assets/arrow-up-solid.svg" (click)="loadFormSnapshot(row)" />
              </td>
              <td>
                {{ row.fillName }}
                <input *ngIf="appState.Mode == Mode.Edit" [value]="row.fillName" />
              </td>
              <td>{{ row.hotkey }}</td>
              <td>
                <img src="assets/file-export-solid.svg" (click)="editFormSnapshot(row)" />
                <img src="assets/trash-alt-regular.svg" (click)="deleteFormSnapshot(row)" />
              </td>
            </tr>
          </ng-container>
        </ng-template>
        <ng-template #emptyRow>
          <tr>
            <td>No results found!</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center control-panel__container">
    <input type="text" [(ngModel)]="newFillName" placeholder="Enter name here" />
    <button (click)="saveFill()" class="btn btn-outline-success ml-2">Save!</button>
    <button (click)="clearStorage()" class="clearStorageBtn btn btn-outline-danger">
      Clear Storage
    </button>
  </div>
</ng-template>

<!--Form snapshot edit-->
<ng-template #editView>
  <app-edit-form [snapshot]="this.currentSnapshot"></app-edit-form>
</ng-template>
