<div *ngIf="snapshot" class="c-edit-form__container">
  <div class="d-flex justify-content-center">
    <form name="mainForm" #mainForm="ngForm">
      <table class="c-edit-form__table">
        <tr>
          <td class="table-label">
            <div><label for="fillName">Snapshot name</label></div>
          </td>
          <td>
            <div>
              <input
                type="text"
                name="fillName"
                class="form-control"
                [(ngModel)]="snapshot.fillName"
                required
                #fillName="ngModel"
                [detectChanges]
              />
              <div style="color:red" *ngIf="fillName.errors">
                <div *ngIf="fillName.errors.required">Fill Name is required</div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="table-label">Hotkey</td>
          <td>
            <input
              type="text"
              name="hotkey"
              id="hotkey"
              class="form-control hotkey-input"
              maxlength="20"
              (keyup)="inputHotkey($event)"
              [ngModel]="snapshot.hotkeyText"
              #hotkey="ngModel"
              appValidateHotkey
            />
            <div>{{ testCtrl }}</div>

            <div style="color:red" *ngIf="hotkey.errors">
              <div *ngIf="hotkey.errors.appValidateHotkey">Invalid format, must be Ctrl & a lowercase letter.</div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="table-label">URL</td>
          <td>
            <input type="text" name="url" id="url" class="form-control" [(ngModel)]="snapshot.url" required />
          </td>
        </tr>
        <tr>
          <td class="table-label">JSON</td>
          <td>
            <textarea
              class="form-control edit-form-preview"
              name="preview"
              id="preview"
              [(ngModel)]="snapshot.preview"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td class="table-label">Comments</td>
          <td>
            <textarea
              class="form-control edit-form-comment"
              name="comment"
              id="comment"
              [(ngModel)]="snapshot.comment"
            ></textarea>
          </td>
        </tr>
      </table>

      <div class="d-flex m-2 justify-content-center ">
        <button class="btn btn-outline-primary m-2" (click)="saveSnapshot()">Save</button>
        <button class="btn btn-outline-danger m-2" (click)="cancelEditFormSnapShot()">Cancel</button>
      </div>
    </form>
  </div>
</div>
